/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

 body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.panel-default {
	border-color: #ddd;
}

.col-lg-9{
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
border: 1px solid #ccc;
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-left: -15px;
margin-right: -15px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.panel-default > .panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}

.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

  .panel-body {
    padding: 15px 0;
  }


  .form-control::-webkit-input-placeholder { color: #ccc; }  /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder { color: #ccc; }  /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder { color:  #ccc; }  /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder { color:  #ccc; }  /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder { color:  #ccc; }  /* Microsoft Edge */

  .btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  .btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
  }
  
  .btn.btn-default {
    border: 1px solid #ccc;
  }

  /*table csss start */

  .button12{
    padding:5px; font-size: 10px; color: #fff !important; font-weight: bold
  }
   
.order-list-table{
  min-width: 144px;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
	font-size: 13px;
}

 /*table csss start */
 .navbar-laravel{
  background-color:#000;
 }
 .navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;
 }
 .card-body{
    padding: 0px;
 }
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
   color: #FFFFFF;
 }
 .form-horizontal{
   width: 100%;
 }
 .cls-show{
    display: block !important;
 }
 .modal.loading .modal-content:before {
    content: 'Loading...';
    text-align: center;
    line-height: 155px;
    font-size: 20px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #EEE;
    z-index: 1000;
}
.select2-hidden-accessible{
  width: 100%;
}
.dataTables_length select{
  width: auto !important; 
}
.dataTables_wrapper .dataTables_filter input{
  width:auto !important; 
  display: inline-block;
}
.select2-container--default .select2-results__option[role=group]{
    float: left;
    width: 50%;
}

